.name
{
	text-align: center;
}
img
{
	height: 20cm;
	width: 40cm;
}
body
{
   background-color: black;
   background-image: url("https://fsb.zobj.net/crop.php?r=5r0GKOS-NwXKX2Zn2dL5DtbFJoyCDAintIzb-CmLxQZwNrDr2J9camAMBIz-SjFiI1UT0SAT2kSwOl75ag5s7Ppgljm05SrTOlvOzwvn4EQSujsfCxi0GD7wFsCctJVa5Y5AwUXeiN2R2MKaTHNhrJECz5aeyvmryGOHq6tHUovNqNgNQeLlI1JQdUhgUubJug7UrdKVAlNU1g6U");
   background-repeat: no-repeat;
	color:yellow;

}
.s
{
background-repeat: no-repeat;
opacity: 0.7;
}

background-image
{
	opacity: 0.7;
	

}
